.Scanner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
    background-color: var(--gray_light_1);
    background-image: url("/Images/Home_BG_Smaller.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#html5qr-code-full-region {
    background-color: var(--white);
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-radius: var(--radius_10);
    border: none !important;
    box-shadow: 0 0 4px var(--shadow_16);

    img[alt="Info icon"] {
        display: none;
    }

    #html5qr-code-full-region__header_message {
        border-top: 1px solid rgb(246, 246, 246);
        background: rgba(#bf3415, 0.1) !important;
        color: var(--red_1) !important;
        border-radius: var(--radius_10);
    }
    #html5qr-code-full-region__dashboard_section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        #html5-qrcode-button-camera-permission {
            width: 100%;
            padding: 0.5rem 1rem;
            color: var(--white);
            background-color: #cfb5a6;
            border-radius: var(--radius_5);
            border: none;
            box-shadow: 0 0 3px var(--shadow_25);
            margin-left: 1rem;
            transition: all 0.15s ease-in-out;
            cursor: pointer;

            &:hover {
                color: var(--orange_2);
                background-color: var(--white);
            }

            &:active {
                box-shadow: inset 0 0 3px var(--shadow_25);
            }
        }

        & > div {
            width: 100%;

            & > * {
                display: block;
                width: 94% !important;
            }
        }

        #html5-qrcode-anchor-scan-type-change {
            text-decoration: none !important;
            font-size: 1.4rem;
            width: 94%;
            padding: 0.5rem 1rem;
            color: var(--gray_dark_3);
            background-color: var(--white);
            border-radius: var(--radius_5);
            border: none;
            box-shadow: 0 0 3px var(--shadow_25);
            margin-right: 1rem;
            margin-left: 1rem;
            transition: all 0.15s ease-in-out;
            cursor: pointer;

            &:active {
                box-shadow: inset 0 0 3px var(--shadow_25);
            }
        }

        #html5qr-code-full-region__dashboard_section_csr {
            width: 94%;

            & > div{
                width: 100%;
            }

            & + div {
                border: 2px dashed var(--gray_dark_3) !important;

                label {
                    button {
                        padding: 1rem;
                        color: var(--white);
                        background-color: #cfb5a6;
                        border-radius: var(--radius_5);
                        border: none;
                        box-shadow: 0 0 3px var(--shadow_25);
                        margin-left: 1rem;
                        transition: all 0.15s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            color: var(--orange_2);
                            background-color: var(--white);
                        }

                        &:active {
                            box-shadow: inset 0 0 3px var(--shadow_25);
                        }
                    }
                }
            }
        }
    }
}
